@model GerenciarEquipe.Painel.Models.IndicadorModel

@{
    ViewBag.Title = "Indicador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            Adicionando <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    @using (Html.BeginForm("Create", "Indicador", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="card card-block">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.indicativa, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.indicativa, new { htmlAttributes = new { @class = "form-control box"} })
                        @Html.ValidationMessageFor(model => model.indicativa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                        @Html.ActionLink("Cancelar", "Index", "Indicador", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
</article>
