@model GerenciarEquipe.Painel.Models.MetaModel

@{
    ViewBag.Title = "Meta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            Adicionando <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    @using (Html.BeginForm("Create", "Meta", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="card card-block">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.descicao, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descicao, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.descicao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.objetivo, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control box", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.unidade, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.unidade, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.unidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.referencia, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.referencia, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.referencia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.fonte, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fonte, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.fonte, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.grupo, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.grupo, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.grupo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.peso, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.data_inicio, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.data_inicio, new { htmlAttributes = new { @class = "form-control box", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.data_inicio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.data_fim, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.data_fim, new { htmlAttributes = new { @class = "form-control box", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.data_fim, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.id_cargo, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.DropDownList("id_cargo", (IEnumerable<SelectListItem>)ViewBag.Cargo, "Selecione um Cargo", new { @class = "form-control box" } )
                        @Html.ValidationMessageFor(model => model.id_cargo, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                        @Html.ActionLink("Cancelar", "Index", "Meta", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
</article>