@model IEnumerable<GerenciarEquipe.Painel.Models.MetaModel>
@using GerenciarEquipe.Painel.Enums;
@using GerenciarEquipe.Services;
@{
    ViewBag.Title = "Meta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        Meta
                        @Html.ActionLink("Adicionar", "Create", new object { }, new { @class = "btn btn-primary btn-sm rounded-s" })
                    </h3>
                    <p class="title-description"> Lista de Metas </p>
                </div>
                <div class="col-md-6">
                    @{ 
                        var Usuario = (GerenciarEquipe.Painel.Models.UsuarioModel)Session["usuario"];
                        if (Model.ToList().Sum(x => x.peso) != 1 && Usuario is GerenciarEquipe.Painel.Models.FuncionarioModel)
                        {
                           <label class="pull-right btn btn-d btn-danger rounded-s"><i class="fa fa-warning "></i> Ajuste os Pesos</label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card items">
        <ul class="item-list striped tabela">
            <li class="item item-list-header ">
                <div class="item-row">
                    <div class="item-col item-col-header item-col-title">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.descicao)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-sales">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.objetivo)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-sales">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.objetivo_parcial)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-sales">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.objetivo_parcial_dia)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-category">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.unidade)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-author">
                        <div>
                            <span>@Html.DisplayNameFor(model => model.referencia)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-author">
                        <div>
                            <span>@Html.DisplayNameFor(model => model.tipo_meta)</span>
                        </div>
                    </div>
                    @{
                        if (Usuario is GerenciarEquipe.Painel.Models.AdminModel)
                        {
                            <div class="item-col item-col-header item-col-author">
                                <div>
                                    <span> @Html.DisplayNameFor(model => model.loja)</span>
                                </div>
                            </div>
                        }
                    }
                    <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
                </div>
            </li>

            @foreach (var item in Model)
            {
                <li class='item'>
                    <div class='item-row'>
                        <div class="item-col pull-left item-col-title">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.descicao)</div>
                            <div>
                                <h4 class="item-title">@Html.DisplayFor(model => item.descicao)</h4>
                            </div>
                        </div>
                        <div class="item-col pull-left item-col-sales">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.objetivo)</div>
                            <div>
                                @Html.DisplayFor(model => item.objetivo)
                            </div>
                        </div>
                        <div class="item-col pull-left item-col-sales">
                            <div class="item-heading "> @Html.DisplayNameFor(model => model.objetivo_parcial)</div>
                            <div class="no-overflow">
                                @Html.DisplayFor(model => item.objetivo_parcial)
                            </div>
                        </div>
                        <div class="item-col pull-left item-col-sales">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.objetivo_parcial_dia)</div>
                            <div class="no-overflow">
                                @Html.DisplayFor(model => item.objetivo_parcial_dia)
                            </div>
                        </div>
                        <div class="item-col pull-left item-col-category">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.unidade)</div>
                            <div>
                                @Html.DisplayFor(model => item.unidade)
                            </div>
                        </div>
                        <div class="item-col item-col-author">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.referencia)</div>
                            <div>
                                @{
                                    @Html.Label(EnumHelper<Referencia>.GetDisplayValue((Referencia)item.referencia));
                                }
                            </div>
                        </div>
                        <div class="item-col item-col-author">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.referencia)</div>
                            <div>
                                @{
                                    @Html.Label(EnumHelper<TipoMeta>.GetDisplayValue((TipoMeta)item.tipo_meta));
                                }
                            </div>
                        </div>
                        @if (Usuario is GerenciarEquipe.Painel.Models.AdminModel)
                        {
                            <div class="item-col fixed pull-left item-col-author">
                                <div class="item-heading"> @Html.DisplayNameFor(model => model.loja)</div>
                                <div>
                                    <a href="" class="">
                                        <h4 class="item-title">@Html.DisplayFor(model => item.loja.nome)</h4>
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>
                                            <a class="remove" href="@Url.Action("Delete", new { id = item.id})">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="edit" href="@Url.Action("Edit", new { id = item.id })">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</article>