<!doctype html>
<html class="no-js" lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href='@Url.Content("~/")'>
    <title> @ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["APP_NAME"] </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    @{
        var themeName = Session["ThemeName"];

        if (themeName != null)
        {
            @Styles.Render("~/Content/ModalAdminApp" + themeName)
        }
        else
        {

            @Styles.Render("~/Content/ModalAdminApp")
        }

    }

</head>
<body>
    @{
        GerenciarEquipe.Painel.Models.UsuarioModel Usuario = null;
        if (Session["usuario"] != null)
        {
            Usuario = (GerenciarEquipe.Painel.Models.UsuarioModel)Session["usuario"];
        }
        <input type="hidden" id="idUsuario" value="@Usuario.id" />
    }
    <div class="main-wrapper">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse d-lg-none d-xl-none">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="header-block header-block-search">
                    <form role="search">
                        <div class="input-container">
                            <i class="fa fa-search"></i>
                            <input type="search" placeholder="Search">
                            <div class="underline"></div>
                        </div>
                    </form>
                </div>
                <div class="header-block header-block-buttons">
                </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="profile dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"> </div>
                                <span class="name">
                                    @if (Usuario != null)
                                    {
                                        @Usuario.nome;
                                    }
                                </span>
                            </a>
                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user icon"></i> Profile
                                </a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Login")">
                                    <i class="fa fa-power-off icon"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <div class="logo">
                                <span class="l l1"></span>
                                <span class="l l2"></span>
                                <span class="l l3"></span>
                                <span class="l l4"></span>
                                <span class="l l5"></span>
                            </div> @System.Configuration.ConfigurationManager.AppSettings["APP_NAME"]
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="sidebar-menu metismenu" id="sidebar-menu">
                            @{var currentpage = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(); }
                            <li @if (currentpage.Equals("Home")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="fa fa-home"></i> Dashboard
                                </a>
                            </li>
                            <li @if (currentpage.Equals("Equipe")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Equipe")">
                                    <i class="fa fa-users"></i> Equipe
                                </a>
                            </li>
                            @*<li @if (currentpage.Equals("Formulario")) { Write("class=open active"); }>
                                    <a href="#">
                                        <i class="fa fa-pencil-square-o"></i> Formulário
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="@Url.Action("Index", "Formulario")"> Editar Formulário</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Formulario")"> Responder Formulário</a>
                                        </li>
                                    </ul>
                                </li>*@
                            <li @if (currentpage.Equals("Cargo")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Cargo")">
                                    <i class="fa fa-suitcase"></i> Cargos
                                </a>
                            </li>
                            <li @if (currentpage.Equals("Loja")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Loja")">
                                    <i class="fa fa-medkit"></i> Lojas
                                </a>
                            </li>
                            <li @if (currentpage.Equals("Indicador")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Indicador")">
                                    <i class="fa fa-medkit"></i> Indicadores
                                </a>
                            </li>
                            <li @if (currentpage.Equals("Meta")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Meta")">
                                    <i class="fa fa-bar-chart-o"></i> Metas
                                </a>
                            </li>
                            <li @if (currentpage.Equals("Admin")) { Write("class=active"); }>
                                <a href="@Url.Action("Index", "Admin")">
                                    <i class="fa fa-bar-chart-o"></i> Admin
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <footer class="sidebar-footer">
                    <ul class="sidebar-menu metismenu" id="customize-menu">
                        <li>
                            <ul>
                                <li class="customize">
                                    <div class="customize-item">
                                        <ul class="customize-colors">
                                            <li>
                                                <span class="color-item color-red" data-theme="red" data-themeName="Red"></span>
                                            </li>
                                            <li>
                                                <span class="color-item color-orange" data-theme="orange" data-themeName="Orange"></span>
                                            </li>
                                            <li>
                                                <span class="color-item color-green active" data-theme="" data-themeName="Green"></span>
                                            </li>
                                            <li>
                                                <span class="color-item color-seagreen" data-theme="seagreen" data-themeName="SeaGreen"></span>
                                            </li>
                                            <li>
                                                <span class="color-item color-blue" data-theme="blue" data-themeName="Blue"></span>
                                            </li>
                                            <li>
                                                <span class="color-item color-purple" data-theme="purple" data-themeName="Purple"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <a href="">
                                <i class="fa fa-cog"></i> Customize
                            </a>
                        </li>
                    </ul>
                </footer>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            @RenderBody()
            <footer class="footer">
                <div class="footer-block buttons">
                </div>
                <div class="footer-block author">
                    <ul>
                        <li> created by <a href="https://github.com/Belosoftwares" target="_blank"><b>BeloSoftwares</b><i> ideas que funcionanm</i></a> </li>
                        <li> <p>&copy; @DateTime.Now.Year</p> </li>
                    </ul>
                </div>
            </footer>
            <div class="modal fade" id="modal-media">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Media Library</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body modal-tab-container">
                            <ul class="nav nav-tabs modal-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                                </li>
                            </ul>
                            <div class="tab-content modal-tab-content">
                                <div class="tab-pane fade" id="gallery" role="tabpanel">
                                    <div class="images-container">
                                        <div class="row"> </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                    <div class="upload-container">
                                        <div id="dropzone">
                                            <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                <div class="dz-message-block">
                                                    <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Insert Selected</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div class="modal fade" id="confirm-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <i class="fa fa-warning"></i> Alert
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure want to do this?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ModalAdminJS")
    @RenderSection("Scripts", required: false)
    <script>
            $(document).ready(function () {
                $(".color-item").click(function () {
                    $.post('@Url.Action("SetColor", "Home")', { themeName: $(this).data('themename') });
                    location.reload();
                });
            });
    </script>
</body>
</html>