@model IEnumerable<GerenciarEquipe.Painel.Models.FuncionarioModel>

@{
    ViewBag.Title = "Funcionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        Funcionario
                        @Html.ActionLink("Adicionar", "Create", new object { }, new { @class = "btn btn-primary btn-sm rounded-s" })
                    </h3>
                    <p class="title-description"> Lista de Funcionarios </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card items">
        <ul class="item-list striped tabela">
            <li class="item item-list-header ">
                <div class="item-row">
                    <div class="item-col item-col-header fixed item-col-img md">
                        <div>
                            <span>@Html.DisplayNameFor(model => model.foto)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-title">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.nome)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-author">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.email)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-author">
                        <div>
                            <span> @Html.DisplayNameFor(model => model.matricula)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-author">
                        <div>
                            <span>@Html.DisplayNameFor(model => model.turno)</span>
                        </div>
                    </div>
                    @{
                        var Usuario = (GerenciarEquipe.Painel.Models.UsuarioModel)Session["usuario"];
                        if (Usuario is GerenciarEquipe.Painel.Models.AdminModel)
                        {
                            <div class="item-col item-col-header item-col-author">
                                <div>
                                    <span> @Html.DisplayNameFor(model => model.loja)</span>
                                </div>
                            </div>
                        }
                    }
                    <div class="item-col item-col-header item-col-date">
                        <div>
                            <span>@Html.DisplayNameFor(model => model.nascimento)</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
                </div>
            </li>

            @foreach (var item in Model)
            {
                <li class='item'>
                    <div class='item-row'>
                        <div class="item-col fixed item-col-img md">
                            <div class="item-img rounded" style="background-image: url(@Html.DisplayFor(model => item.foto))"></div>
                        </div>
                        <div class="item-col item-col-title">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.nome)</div>
                            <div>
                                <h4 class="item-title">@Html.DisplayFor(model => item.nome)</h4>
                            </div>
                        </div>
                        <div class="item-col item-col-author">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.email)</div>
                            <div class="no-overflow">
                                @Html.DisplayFor(model => item.email)
                            </div>
                        </div>
                        <div class="item-col item-col-author">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.matricula)</div>
                            <div class="no-overflow">
                                @Html.DisplayFor(model => item.matricula)
                            </div>
                        </div>
                        <div class="item-col item-col-author">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.turno)</div>
                            <div class="no-overflow">
                                @Html.DisplayFor(model => item.turno)
                            </div>
                        </div>
                        @if (Usuario is GerenciarEquipe.Painel.Models.AdminModel)
                        {
                            <div class="item-col item-col-author">
                                <div class="item-heading"> @Html.DisplayNameFor(model => model.loja)</div>
                                <div class="no-overflow">
                                    @Html.DisplayFor(model => item.loja.nome)
                                </div>
                            </div>
                        }
                        <div class="item-col fixed item-col-date">
                            <div class="item-heading"> @Html.DisplayNameFor(model => model.nascimento)</div>
                            <div>
                                @Html.ValueFor(model => item.nascimento, "{0:dd/MM/yyyy}")
                            </div>
                        </div>
                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>
                                            <a class="remove" href="@Url.Action("Delete", new { id = item.id})">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="edit" href="@Url.Action("Edit", new { id = item.id })">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</article>