@model GerenciarEquipe.Painel.Models.AdminModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            Editando <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="card card-block">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.ativo)

                <div class="form-group row">
                    @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-sm-10">
                        <div class="images-container">
                            <div class="image-container new">
                                <div class="image">
                                    <div class="file-upload-img" style="cursor: pointer;" title="Clique para inserir uma imagem">
                                        @Html.TextBoxFor(model => model.fotoFile, new { type = "file", accept = ".jpg,.jpeg,.png" })
                                        <label class="input-file wrap-badge" for="fotoFile">
                                            @if (Model.foto != null)
                                            {
                                                <img class="img-responsive img-toggle" src="@Html.DisplayFor(model => model.foto)" alt="updatefile" style="cursor: pointer;" title="Clique para inserir uma imagem">
                                            }
                                            else
                                            {
                                                <img class="img-responsive img-toggle" src="~/Image/plus-icon-33363.png" alt="updatefile" style="cursor: pointer;" title="Clique para inserir uma imagem">
                                            }
                                            <span class="upload-ok"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <label for="upload">
                                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                @Html.TextBoxFor(model => model.fotoFile, new { type = "file", style = "display:none" })
                            </label>
                            @Html.ValidationMessageFor(model => model.fotoFile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control box" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.senha, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "form-control box", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.permissoes, htmlAttributes: new { @class = "control-label col-md-2 text-xs-right" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.permissoes, new { htmlAttributes = new { @class = "form-control box" } })*@
                        @foreach (var item in ViewBag.Permissoes)
                        {
                            <div class="form-check form-check-inline col-md-3">
                                <label>
                                    <input type="checkbox" id="@item.Value" name="permissoes" value="@item.Value" class="form-check-input checkbox" @if (item.Selected) { Write("checked=checked"); }>
                                    <span class="form-check-label" for="@item.Value"> @item.Text</span>
                                </label>
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.permissoes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                        @Html.ActionLink("Cancelar", "Index", "Admin", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
</article>
@section Scripts
{
    <script src="~/Scripts/image.js"></script>
}