@model GerenciarEquipe.Painel.Models.CargoModel

@{
    ViewBag.Title = "Delete";
    Layout = "";
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fa fa-warning"></i> Alerta
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Você tem certeza que deseja fazer isso?</p>
            <div>
                <h4>Deletar</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.descicao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.descicao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.permissoes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.permissoes)
                    </dd>
                </dl>

            </div>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-primary">Deletar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            }
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->