@model GerenciarEquipe.Painel.Models.CargoModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CargoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permissoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permissoes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
